/Yuri_s_Revenge_1.001.exe
/xcc/
/Taunts/
/rmcache/
/HTML/
/00000409.016
/00000409.256
/amazon.mmx
/BINKW32.DLL
/EB1.mmx
/EB2.mmx
/EB3.mmx
/EB4.mmx
/EB5.mmx
/岛屿防御.yrm
/海岛防御.jpg
/YURI.EXE
/invasion.mmx
/langmd.mix
/language.mix
/gamemd.exe
/expandmd01.mix
/MAPSMD03.MIX
/movmd03.mix
/mph.exe
/MPHMD.EXE
/MULTIMD.MIX
/PServer.exe
/RA2MD.EXE
/SetupReg.exe
/wxd.exe
